* {
    
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    }

    #wrapper {
        margin:auto;
    }

/* TOPBAR */
header {
    width: 100%;
    position: sticky;
    top:0;
    box-shadow:  3px 11px 14px 1px rgba(155, 153, 153, 0.22);   
}

.topbar {
    width: 100%;
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 100px 25px 100px;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap:12px;
    padding-left: 1150px;
}
.resume {
    text-align: center;
    line-height: 32px;
    height: 35px;
    width: 160px;
    border-radius: 40px;
    border: 1px solid black;
}

.t {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    background-color: rgb(231, 91, 40);
    color: white;
    font-size: 15pt;
}

.medium-logo {
    width: 200px;
}

/* MAIN-SECTION */

#main {
    float: left;
    height: 100%;
    width: 70%;
    margin: 65px -35px 0px 100px;
   } 

   .doubleTitle {
    display: flex;
    
    width: 70%;
    border-bottom: 1px solid black;
    height: 20px;
    gap: 20px;
    text-transform: uppercase;
    font-weight: 600;
    float: left;
}

.all_sections {
    display: flex;
    width: 50%;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center; 
    cursor: pointer;
}

.abc {
    margin-right: 20px;
    margin-top: 50px;
    width: 100%;
    }


 

    .re-reduximg {
        width: 200px;
        height: 134px;
        }
    
    .icon-logo {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 5px;
        }
    
    .boldtext{
        font-weight: bold;   
    }

    
.text-1 {
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    
}

.text-1 h2 {
    font-weight: 700;
    margin-bottom:5px;
}


.lorem {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.react {
    width: 60px;
    height: 25px;
    background-color: #E6E6E6;
    line-height: 25px;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    
}

.logokolby {
    border-radius: 10px;
}


 .low-icons{
    font-size: 30px;
 }
/* SIDEBAR */
 #sidebar {
    position: fixed;
    right: 0;
    top:1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 100px;
    margin-right: 130px;
    padding-bottom: 30px;
    }

 .recommended {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}


.recommendedtext {
    background-color:#E6E6E6 ;
    
    border-radius: 20px;
    height: 35px;
    width: 80px;
    line-height: 38px;
    text-align: center;

}

.low-logo {
    align-self: center;
    width: 50px;
    
}

.total {
    display: flex;
    margin: 30px;
    justify-content: center;
    align-items: center;
    
}


.text {
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.button{
    height: 35px;
    width: 160px;
    border-radius: 40px;
    border: 1px solid black;
    padding-left: 10px;
    line-height: 35px;
    cursor: pointer;
}

.twitter {
    color:#1D9BF0;
}

.link {
    color:#D2D2D2;
    
}

.under-text{
 display: flex;
 justify-content: space-between;
 align-items: center;
 width: 100%;
}


.img {
    display: flex;   
}


.last-icon {   
    width: 50%;
    gap: 5px;
}


.footer ul {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    color: #BBBBBB;
}

.footer ul li {
    list-style-type: none;   
}



